
*.aux

*.bbl

*.blg

*.glo

*.ist

ralsfahmi.aux

ralsfahmi.bbl


ralsfahmi.blg

references/bibliography.bib.bak

ralsfahmi.log

ralsfahmi.out

ralsfahmi.synctex.gz

supplementary_materials/supplementary_materials.aux

supplementary_materials/supplementary_materials.bbl

supplementary_materials/supplementary_materials.pdf

supplementary_materials/supplementary_materials.blg

supplementary_materials/supplementary_materials.log

supplementary_materials/supplementary_materials.out

supplementary_materials/supplementary_materials.synctex.gz


